@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-align: center;
  font-family: sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.container-addremove {
  max-width: 640px;
  margin: 0 auto;
}

.container-users {
  max-width: 1200px;
  margin: 0 auto;
}

.size-6 {
  width: 60px;
  height: 60px;
}
